body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.kere_1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-decoration: underline;
    color: white; 
    background-color: #4D5AE5;
    cursor: pointer;
}

.kere_1:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4px;
    text-decoration: underline;
    color: white; 
    background-color: #404BBF;
}
.kere_1:focus {
    background-color: #404BBF;
}

a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.spann-1 {
    color: #2e2f42;
}

.ilk-liste {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.ilk-liste:hover {
    color: #404bbf;
}
.ilk-liste:focus {
    color: #404bbf;
}
.ilk-adres {
    font-style: normal;
}
.ilk-li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.ilk-li:hover {
    color: #404bbf;
}
.ilk-li:focus {
    color: #404bbf;
}

.ber_2 {
    background-color: #2e2f42;
}
.ilke_1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.lil_3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.ilk-p {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.sell_3 {
    background-color: #f4f4fd;
}
.ore-tm {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.sel-li {
    background-color: #FFFFFF;
}
.map_1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.lii-p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
.papi_5 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.bas_11 {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42; 
}
.alpo_1 {
    letter-spacing: 0.02em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.fter_11 {
    background-color: #2e2f42;
}
.ilk-bag {
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.sppe_2 {
    color: #2e2f42;
    line-height: 1.5;
}
.son-p {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}